/* 
    Font Styles:
    Roboto 900;
*/

.hero {
    background-color: var(--color-footback);
}

.hero h1 {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-antiaccent);
    margin: 0 auto 30px auto;
}

.hero a {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--color-antiaccent);
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
}

.work h3 {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-headlight);
}

.super {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--color-headlight);
}

.team {
    background-color: var(--color-team);
}

.team h3 {
    font-weight: 500;
    color: var(--color-headlight);
}

.team h3,
.team p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
}

.team li {
    background: var(--color-antiaccent);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}